<div class="example-button-container fab-chat">
    <button class="border border-danger" mat-mini-fab  color="white"  aria-label="Example icon button with a home icon">
      <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small">chat</mat-icon>
    </button>
  </div>
  <div class="example-button-container fab-call">
    <button class="border border-danger" mat-mini-fab   color="white"  aria-label="Example icon button with a home icon">
      <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
    </button>
  </div>