<app-header active="Home"></app-header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Sản phẩm mới nhất</h2>
          <a routerLink="/products" href="">Xem tất cả sản phẩm <i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      <div *ngFor="let item of dataSource" class="col-md-4">
        <div class="product-item">
          <a routerLink="/product-detail/{{item.id}}">
            <div *ngIf="item.discount>0" class="bookmarkRibbon"><span style="color:red;position: relative;top: -9px;right:10px;text-align: center;"> Giảm {{item.discount}}% </span></div>

            <img class="border" src="{{item.image}}" alt=""></a>
         
          <div class="down-content">
            <div class="d-flex">
              <div class="p-2">
                <a routerLink="/product-detail/{{item.id}}">
                  <h4>{{item.name}}</h4>
                </a>
              </div>
               

            </div>
            <div class="d-flex">
               
              <div *ngIf="item.discount>0" class="p-2" style="text-decoration-line:line-through">
                {{item.price | currency : 'VND'}} </div>
              <div class="p-2" style="color:  #f33f3f ;">{{item.price-item.price*item.discount/100 |
                currency : 'VND'}}</div>

            </div>

         
            <div class="d-flex align-items-center" style="margin-top: 15px;">
             
              <div class="daban p-2">Đã bán  ({{item.count-item.stock}})</div><br>
              <span class="p-2">Số lượng còn lại  ({{item.stock}})</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Double-L Clothing</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Bạn đang muốn tìm sản phẩm tốt nhất ?</h4>
          <p><a rel="nofollow" href="/about-us" target="_parent">Double-L Store</a>
            luôn là cửa hàng đi đầu trong việc nắm bắt tâm lí , ý định mua sắm của khách hàng <a rel="nofollow"
            href="/about-us">Liên hệ chúng tôi nếu bạn muốn phản hồi về sản phẩm </a></p>
          <ul class="featured-list">
            <li><a>Sản phẩm mới hợp thời trang</a></li>
            <li><a>Nhiều hình thức thanh toán </a></li>
            <li><a>Đổi trả miễn phí </a></li>
            <li><a>Luôn lắng nghe phản hồi của khách hàng</a></li>
            <li><a>Tư vấn nhiệt tình</a></li>
          </ul>
          <a routerLink="/about-us" class="filled-button">Xem thêm</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="assets/images/feature-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<app-fab-call-chat *ngIf="isLogin"></app-fab-call-chat>