<app-header active="Home"></app-header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Sản phẩm mới nhất</h2>
          <a routerLink="/products" href="">Xem tất cả sản phẩm <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      
      <div *ngFor="let item of dataSource"   class="col-md-4">
        <div class="product-item">
          <a routerLink="/product-detail/{{item.id}}"><img src="{{item.image}}" alt=""></a>
          <div class="down-content">
            <a routerLink="/product-detail/1" >
              <h4>{{item.name}}</h4>
            </a>
            <h6>{{item.price |  currency:"VND":"symbol"}}</h6>
            <p>{{item.description}}</p>


            <ul>
              <span>Số lượng ({{item.stock}})</span>
            </ul>


            <button (click)="addToCart(item.id)" type="button" class="add-cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</button>


          </div>

        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Double-L Clothing</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Bạn đang muốn tìm sản phẩm tốt nhất ?</h4>
          <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">Double-L Store</a>
            luôn là cửa hàng đi đầu trong việc nắm bắt tâm lí , ý định mua sắm của khách hàng  <a rel="nofollow" href="https://templatemo.com/contact">Liên hệ chúng tôi nếu bạn muốn phản hồi về sản phẩm </a></p>
          <ul class="featured-list">
            <li><a href="#">Sản phẩm mới hợp thời trang</a></li>
            <li><a href="#">Nhiều hình thức thanh toán </a></li>
            <li><a href="#">Đổi trả miễn phí </a></li>
            <li><a href="#">Luôn lắng nghe phản hồi của khách hàng</a></li>
            <li><a href="#">Tư vấn nhiệt tình</a></li>
          </ul>
          <a href="about.html" class="filled-button">Read More</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="assets/images/feature-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<app-fab-call-chat></app-fab-call-chat>
<app-footer></app-footer>