.add-cart-btn{
    background-color:  #fff;
    border: 2px solid black;
    margin-right: 8px;
    border-radius: 25px;
}
.add-cart-btn:hover{
    background-color: #f33f3f;
    border: 2px solid #f33f3f;
    color: black;
}
.fab-chat{
    position: fixed;
    bottom: 0;
    right: 0;
    
 
    box-sizing: border-box;
}
.fab-call{
    position: fixed;
    bottom: 50px;
    right: 0;
    
 
    box-sizing: border-box;
}
img{
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    margin-top: 10px;
    
}
.daban{
position: absolute;
 
bottom: 30px;
font-size: 13px;
/* color: #f33f3f; */
font-weight: 500;
}
.product-item:hover{
    border: 1px solid #f33f3f;
}
.bookmarkRibbon {
    width: 0px;
    height: 50px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid rgba(255,212,36,.9);;
    
    border-left: 20px solid rgba(255,212,36,.9);;
    border-right: 20px solid rgba(255,212,36,.9);;
    text-align: center !important;

    /* float: right; */
    margin-bottom: 20px;
    font-size: 11px;
    font-weight:400;
    position: absolute;
    right: 44px;
    top: 12px;
}