<app-header></app-header>
<div  class="container">
<app-loading *ngIf="isLoading" text="Đang tải dữ liệu..."></app-loading>
<div *ngIf="!isLoading">

    <mat-card>

        <div style="color: #f33f3f;" class="d-flex flex-row">
            <div class="p-2">
                <mat-icon>location_on</mat-icon>
            </div>
            <div class="p-2">Địa chỉ nhận hàng </div>
        </div>
        <div class="d-flex align-items-center">
            <div  class="p-2">
                <b>{{dataCart[0]?.user.fullname}} ({{dataCart[0]?.user.phonenumber}})</b>
            </div>
            <div *ngIf="addressUser?.length>0" class="p-2"> {{addressUser[0]?.address}} </div>

            <button *ngIf="addressUser?.length>0" (click)="changeAddress(addressUser[0])" class="p-2" mat-button
                color="primary" style="margin-left: 50px;">Thay đổi</button>
            <button *ngIf="addressUser?.length==0" (click)="addAddress()" class="p-2" mat-button color="primary"
                style="margin-left: 50px;">Thêm</button>
        </div>



    </mat-card>
    <br>

    <mat-card>
        <div *ngIf="dataCart?.length>0" class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0 border">
                    <thead>
                        <tr>
                   

                            <th class="text-center py-3 px-4" style="width: 300px;">Sản phẩm
                            </th>
                            <th class="text-center py-3 px-4" style="width: 100px;">Đơn giá</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Số lượng</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Size</th>
                            <th class="text-center py-3 px-4" style="width: 150px;">% giảm</th>
                            <th class="text-center py-3 px-4" style="width: 100px;">Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataCart">
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <div class="d-flex align-items-center ">
                                        <img src="{{item.product.image}}">
                                        {{item.product.name}}
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4 text-center">
                                 
                                            {{item.product.price | currency :"VND"}}
                            </td>

                            <td class="text-right font-weight-semibold align-middle p-4 text-center">
                                {{item.quantity}}
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4 text-center">
                                {{item.sizeProduct}}
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4 text-center">
                                {{item.product.discount}}%
                            </td>
                            <td  style="color: #f33f3f" class="text-right font-weight-semibold align-middle p-4 text-center">
                                {{(item.product.price-
                                item.product.price*item.product.discount/100)*item.quantity |
                                currency
                                :"VND" }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </mat-card>
    <br>
    <mat-card class="border">
        <div style="color: #f33f3f;" class="d-flex flex-row">
            <div class="p-2">
                <mat-icon>local_shipping</mat-icon>
            </div>
            <div class="p-2">Vận chuyển </div>
        </div>

        <div class="d-flex">
            <div class="p-2">Lời nhắn</div>
            <div class="p-2"><input [(ngModel)]="message" placeholder="Lời nhắn cho shop"></div>
            <div class="ml-auto p-2">
                <div class="d-flex flex-column">
                    <div  class="d-flex flex-row">
                        <div class="p-2">Phí vận chuyển:</div>
                        <div style="color: #f33f3f" class="p-2">{{shippingfee | currency:"VND"}}</div>
                    </div>
                     
                </div>
            </div>
          </div>
        

    </mat-card>
    <br>
    <mat-card class="border">
        <div class="d-flex flex-row">


        </div>
        <div class="d-flex align-items-center">
            <div style="color: #f33f3f;" class="p-2">
                <mat-icon>account_balance</mat-icon>
            </div>
            <div style="color: #f33f3f;" class="p-2">Phương thức thanh toán </div>
            <div class="p-2">{{transactionName}}</div>
            <div class="p-2"> </div>

            <button (click)="changePaymentMethod()" class="p-2" mat-button color="primary"
                style="margin-left: 50px;">Thay đổi</button>

        </div>


        <div class="d-flex justify-content-end">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <div class="p-2">Tổng tiền hàng : </div>
                    <div *ngIf="!isCodeVoucherPrice"  style="color: #f33f3f;" class="p-2"> {{unitPriceDiscount | currency: "VND"}}</div>
                    <div *ngIf="isCodeVoucherPrice && discountbyvoucher[0].discountprice>0"   style="color: #f33f3f;" class="p-2"> {{unitPriceDiscount | currency: "VND"}} (đã áp dụng voucher)</div>
 
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-2">Phí vận chuyển :</div>
                    <div *ngIf="!isCodeVoucherShip" style="color: #f33f3f;" class="p-2">{{shippingFeeDiscount | currency:"VND"}}</div>
                    <div *ngIf="isCodeVoucher &&  discountbyvoucher[0].discountfreeship>0"  style="color: #f33f3f;" class="p-2">{{shippingFeeDiscount| currency:"VND"}} (đã áp dụng voucher)</div>
                  </div>
                 
                  <div class="d-flex align-items-center">
                    <div class="p-2">Nhập voucher để được giảm giá : </div>
                    <div style="color: #f33f3f;" class="p-2"><input class="voucher"  [(ngModel)]="codeVoucher" placeholder="Nhập mã voucher" /></div>
                    <div class="p-2"> <button (click)="searchVoucher()" mat-raised-button style="color:#f33f3f">Áp dụng</button> </div>
                  </div>
                  <div *ngIf="isCodeVoucher" class="d-flex flex-row">
                    <div class="p-2">Giảm giá từ voucher : </div>
                    <div *ngIf="discountbyvoucher[0].discountprice>0" style="color: #f33f3f;" class="p-2"> giảm {{discountbyvoucher[0].discountprice}}% cho tổng giá trị tiền hàng </div>
                    <div *ngIf="discountbyvoucher[0].discountfreeship>0" style="color: #f33f3f;" class="p-2">giảm {{discountbyvoucher[0].discountfreeship}}% cho tổng tiền ship</div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-2">Thành tiền : </div>
                    <div  style="color: #f33f3f;" class="p-2">{{unitPriceDiscount + shippingFeeDiscount | currency :"VND" }}</div>
 

                  </div>
             
             
            </div>


        </div>
        <mat-card-actions align="end">
            <button (click)="checkout()" mat-raised-button style="color:#f33f3f">Thanh toán</button>
        </mat-card-actions>

    </mat-card> 
</div>
   
</div>