<app-header></app-header>
 
<body class="container">
    <app-navigation-bar></app-navigation-bar>
    <div class="border" style="margin-left:25%;padding:1px 16px;  position: fixed;
    height: 100%;width: 70%;">
        
        
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Chờ xác nhận"> Content 1 </mat-tab>
            <mat-tab label="Chờ lấy hàng"> Content 2 </mat-tab>
            <mat-tab label="Đang giao"> Content 3 </mat-tab>
            <mat-tab label="Đã giao"> Content 3 </mat-tab>
            <mat-tab label="Đã hủy"> Content 3 </mat-tab>
          </mat-tab-group>

    </div>
   
</body>

