
<h2 mat-dialog-title>Chọn hình thức thanh toán</h2>
<mat-dialog-content class="mat-typography">
    
  <mat-card >
    <div class="d-flex align-items-center">
        <div class="p-2">
             <img src="../../../../assets/images/momo.png">
        </div>
        <div class="p-2">
             Thanh toán qua MoMo 
        </div>
        <div class="p-2" style="margin-left: 230px ;">
           <button (click)="paymentByMoMo()"  mat-button color="primary">Chọn</button>
     </div>
    </div>
    
</mat-card>

<mat-card >
  <div class="d-flex align-items-center">
      <div class="p-2">
           <img src="../../../../assets/images/paypal.png">
      </div>
      <div class="p-2">
           Thanh toán qua PayPal
      </div>
      <div class="p-2" style="margin-left: 230px ;">
         <button (click)="paymentByPayPal()"  mat-button color="primary">Chọn</button>
   </div>
  </div>
  
</mat-card>
     
     
      

<mat-dialog-actions align="end">
  <button mat-raised-button  mat-dialog-close color="warn">Hủy</button>
  <button mat-raised-button  color="primary" cdkFocusInitial>Xử lí giao dịch</button>
</mat-dialog-actions>
