<h2 mat-dialog-title>Chọn hình thức thanh toán</h2>
<mat-dialog-content class="mat-typography">

     <mat-card *ngFor="let transaction of allTransaction ; let i=index">
          <div *ngIf="transaction.id!='1'" class="d-flex align-items-center">
               <div  >
                    <section   >
                         <mat-checkbox (change)="showOptions($event)" id="{{i}}" [(ngModel)]="transaction.checked"  ></mat-checkbox>

                    </section>
               </div>
               <div style="margin-left: 50px;" class="p-2">
                    <img src="{{transaction.image}}">
               </div>
               <div style="margin-left: 250px;" class="p-2">
                    {{transaction.name}}
               </div>
              
          </div>

     </mat-card>






     
</mat-dialog-content>
<mat-dialog-actions align="end">
     <button mat-raised-button mat-dialog-close color="warn">Hủy</button>
     <button [disabled]="!isChoose" mat-raised-button [mat-dialog-close]="data" (click)="chooseTransaction()" color="primary" cdkFocusInitial>Chọn</button>
</mat-dialog-actions>