<app-header active="ContactUs"></app-header>
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css" integrity="sha512-+oRH6u1nDGSm3hH8poU85YFIVTdSnS2f+texdPGrURaJh8hzmhMiZrQth6l56P4ZQmxeZzd2DqVEMqQoJ8J89A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<body>






  <div class="find-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Địa chỉ</h2>
          </div>
        </div>
        <div class="col-md-8">

          <div id="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.682387691983!2d106.72547041468431!3d10.835600161061908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527d43e852f71%3A0x3c0d154bec8fd9fb!2zNDE5LCAxNCDEkC4gU8O0IDQ4LCBraHUgcGjhu5EgNiwgVGjhu6cgxJDhu6ljLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1664880303008!5m2!1svi!2s"     referrerpolicy="no-referrer-when-downgrade"
              width="100%" height="330px" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <div class="left-content">
            <h4>Địa chỉ cửa hàng</h4>
            <p>419, 14 Đường Sô 48, khu phố 6, Thủ Đức, Thành phố Hồ Chí Minh</p>

             <p>Liên hệ qua :
                  
                 </p>
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i class="fa-brands fa-facebook-messenger"></i></a></li>
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="send-message">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Gởi email cho chúng tôi</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contact-form">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Tên của bạn" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Email"
                      required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Vấn đề"
                      required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Nội dung"
                      required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="filled-button">Gởi thông tin</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
<app-fab-call-chat></app-fab-call-chat>
 