::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #f33f3f !important;
  }
  ::ng-deep .mat-tab-label-active {
    color: #f33f3f !important;
  }
.fab-chat{
    position: fixed;
    bottom: 0;
    right: 0;
    
 
    box-sizing: border-box;
}
.fab-call{
    position: fixed;
    bottom: 50px;
    right: 0;
    
 
    box-sizing: border-box;
}

.products ul.pages {
    margin-top: 0px;
    text-align: center;
}
.add-cart-btn{
    background-color: #fff;
    border: 2px solid black;
    margin-right: 8px;
    border-radius: 25px;
}
.add-cart-btn:hover{
    background-color: #f33f3f;
    border: 2px solid #f33f3f;
    color: black;
}
img{
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    margin-top: 10px;
}
::ng-deep .ngx-pagination .current {
    background: #f33f3f !important;
    
}
pagination-controls   {
    text-align: center !important;
}
.input-search{
    width: 80%;
  }
  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary
  {
    background-color: #f33f3f;
  }