<app-header active="Products"></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters">
            <ul>
              <mat-tab-group mat-align-tabs="center">

                <mat-tab label="Áo">

                  <div class="col-md-12">
                    <div class="filters-content">
                      <div class="row grid">
                        <div *ngFor="let item of item" class="col-lg-4 col-md-4 all des">
                          <div class="product-item">
                            <a routerLink="/product-detail/1"><img src="assets/images/product_01.jpg" alt=""></a>
                            <div class="down-content">
                            
                              <div class="d-flex justify-content-between">
                                <a routerLink="/product-detail/1">
                                  <h4>Tittle goes here</h4>
                                </a>
                                <h6>$18.25</h6>
                              </div>
                              <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>

                              <div class="d-flex align-items-center">
                                <button (click)="addToCart()" type="button" class="add-cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào
                                  giỏ</button>
                                <span>Reviews (12)</span>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Quần">
                  <div class="col-md-12">
                    <div class="filters-content">
                      <div class="row grid">
                        <div *ngFor="let item of item" class="col-lg-4 col-md-4 all des">
                          <div class="product-item">
                            <a routerLink="/product-detail/1"><img src="assets/images/product_01.jpg" alt=""></a>
                            <div class="down-content">
                              <div class="d-flex justify-content-between">
                                <a routerLink="/product-detail/1">
                                  <h4>Tittle goes here</h4>
                                </a>
                                <h6>$18.25</h6>
                              </div>
                              <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                              <div class="d-flex align-items-center">
                                <button type="button" class="add-cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào
                                  giỏ</button>
                                <span>Reviews (12)</span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Giày">
                  <div class="col-md-12">
                    <div class="filters-content">
                      <div class="row grid">

                        <div *ngFor="let item of item" class="col-lg-4 col-md-4 all des">
                          <div class="product-item">
                            <a routerLink="/product-detail/1"><img src="assets/images/product_06.jpg" alt=""></a>
                            <div class="down-content">
                              <div class="d-flex justify-content-between">
                                <a routerLink="/product-detail/1">
                                  <h4>Tittle goes here</h4>
                                </a>
                                <h6>$18.25</h6>
                              </div>
                              <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                              <div class="d-flex align-items-center">
                                <button type="button" class="add-cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào
                                  giỏ</button>
                                <span>Reviews (12)</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>

            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <ul class="pages">
            <li class="active"><a href="#">1</a></li>
            <li ><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</body>
<app-fab-call-chat></app-fab-call-chat>
<app-footer></app-footer>