<!DOCTYPE html>
<html lang="en">

<body>



  <header class="bgheader">
    
    <nav class="navbar navbar-expand-lg">

      <div class="container">

        <a class="navbar-brand" href="index.html">

          <h2 class="double">

            Double-L <em>Store</em>
          </h2>
        </a>
    
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li *ngIf="active=='Home'" class="nav-item active">
              <a class="nav-link" (click)="goHomePage()">Trang chủ
              </a>
            </li>
            <li *ngIf="active!='Home'" class="nav-item ">
              <a class="nav-link" (click)="goHomePage()">Trang chủ</a>

            </li>
            <li *ngIf="active=='Products'" class="nav-item active ">
              <a class="nav-link" (click)="goProductPage()">Sản phẩm</a>

            </li>
            <li *ngIf="active!='Products'" class="nav-item ">
              <a class="nav-link" (click)="goProductPage()">Sản phẩm</a>

            </li>
            <li *ngIf="active=='AboutUs'" class="nav-item active">
              <a class="nav-link" (click)="goAboutUsPage()">Double-L store</a>
            </li>
            <li *ngIf="active!='AboutUs'" class="nav-item">
              <a class="nav-link" (click)="goAboutUsPage()">Double-L Store</a>
            </li>
            
            <li *ngIf="active=='SignIn'  && !isLogin" class="nav-item active">
              <a class="nav-link" (click)="goSignInPage()">Đăng nhập</a>
            </li>
            <li *ngIf="active!='SignIn'  && !isLogin" class="nav-item">
              <a class="nav-link"  (click)="goSignInPage()">Đăng nhập</a>
            </li>
            <li *ngIf="active=='SignUp' && !isLogin" class="nav-item active">
              <a class="nav-link" (click)="goSignUpPage()">Đăng kí</a>
            </li>
            <li *ngIf="active!='SignUp'  && !isLogin" class="nav-item">
              <a class="nav-link" (click)="goSignUpPage()">Đăng kí</a>
            </li>
            <li *ngIf="active=='ShoppingCart'  && isLogin" class="nav-item active cart" >
              <a class="nav-link" *ngIf="countProductInCart>0" (click)="goShoppingCartPage()"><mat-icon  matBadge="{{countProductInCart}}" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon></a>
              <a class="nav-link"  *ngIf="countProductInCart==0" (click)="goShoppingCartPage()"><mat-icon   matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon></a>

            </li>
            <li *ngIf="active!='ShoppingCart'  && isLogin" class="nav-item">
              <a class="nav-link" *ngIf="countProductInCart>0"  (click)="goShoppingCartPage()"><mat-icon matBadge="{{countProductInCart}}" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon></a>
              <a class="nav-link" *ngIf="countProductInCart==0"  (click)="goShoppingCartPage()"><mat-icon  matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon></a>
            </li>
            <li   class="nav-item active" *ngIf=" active=='Profile' && isLogin ">
              <a class="nav-link" routerLink="/profile" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger"  (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)"> {{username}}</a>
              <mat-menu #menu="matMenu" [hasBackdrop]="false" >
                <button mat-menu-item (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)" (click)="goProfilePage()">Quản lí tài khoản</button>
                <button mat-menu-item (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)" (click)="goOrderPage()">Đơn mua</button>
                <button mat-menu-item (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)" (click)="logOut()">Đăng xuất</button>
              </mat-menu>
            </li>
            <li   class="nav-item " *ngIf=" active!='Profile' && isLogin ">
              <a style="text-transform: lowercase;" class="nav-link" routerLink="/profile" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger"  (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)"> {{username}}</a>
              <mat-menu #menu="matMenu" [hasBackdrop]="false" >
                <button mat-menu-item (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)" (click)="goProfilePage()">Quản lí tài khoản</button>
                <button mat-menu-item (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)" (click)="goOrderPage()">Đơn mua</button>
                <button mat-menu-item (mouseenter)="mouseEnter(trigger)" (mouseleave)="mouseLeave(trigger)" (click)="logOut()">Đăng xuất</button>
              </mat-menu>
            </li>
             
            
          </ul>
        </div>
      </div>
    </nav>
  </header>








 

</body>

</html>