<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css"
    integrity="sha512-+oRH6u1nDGSm3hH8poU85YFIVTdSnS2f+texdPGrURaJh8hzmhMiZrQth6l56P4ZQmxeZzd2DqVEMqQoJ8J89A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="line"></div>
<footer class="footer-distributed">

    <div class="footer-left">
        <div class="d-flex justify-content-start">
            <div class="d-flex align-items-center">
                <img src="../../../assets/images/logoshop.png" style="width:80px; height:80px"
                    class="rounded-circle p-2">
                <h3 class="p-2">Double-L <span>Store</span></h3>
            </div>

        </div>




        <p class="footer-links">
            <a (click)="goHomePage()" style="cursor: pointer;" class="link-1">Trang chủ</a>

            <a style="cursor: pointer;" (click)="goProductPage()">Sản phẩm</a>

            <a style="cursor: pointer;" (click)="goAboutUsPage()">About Us</a>


        </p>

        <p class="footer-company-name">DoubleL Store © 2022</p>
        <br>
        <br>
        <br>
        <div style="display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;"> Thanh toán</div>
        <div class="d-flex align-items-center">

            <div class="payment">
                <div class="d-flex align-items-center">
                    <img style="width:100px;height:35px;" src="../../../assets/images/paypal.png">
                    <div style="margin-left: 10px;"> Hệ thống thanh toán trực tuyến và chuyển tiền quốc tế PayPal</div>
                </div>
                <br>
                <div class="d-flex align-items-center">
                    <img style="width:100px;height:35px;" src="../../../assets/images/vnpay.png">
                    <div style="margin-left: 10px;"> Hệ thống thanh toán của công ty Cổ phần Giải pháp Thanh toán Việt Nam (VNPAY)</div>
                </div>



            </div>
        </div>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>419/14 Đường Số 48, khu phố 6, Thủ Đức, </span> Thành phố Hồ Chí Minh </p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>0364681528</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">cskhdoublel@gmail.com.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Thông tin cửa hàng </span>
            Double-L Store luôn là cửa hàng đi đầu trong việc nắm bắt tâm lí , ý định mua sắm của khách hàng Liên hệ
            chúng tôi nếu bạn muốn phản hồi về sản phẩm
        </p>


        <br>
        <div class="d-flex align-items-center">

            <ul class="social-icons">
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i
                            class="fa-brands fa-facebook-messenger"></i></a></li>
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i
                            class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.facebook.com/nguyen.v.long.1420" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>





    </div>

</footer>