<ul class="border-right">
    <li style="margin-top: 10%" class="border-bottom"><a class="active">
            <div class="d-flex align-items-center">
                <img class="border border-primary rounded-circle" src="../../../assets/images/logoshop.png">
                <span class="p-2">username</span>
            </div>
        </a></li>

    <li><a routerLink="/profile">
            <div class="d-flex align-items-center">
                <mat-icon color="primary">person</mat-icon>
                <div class="p-2">Hồ sơ</div>
            </div>
        </a>
    </li>
    <li><a routerLink="/orders">
            <div class="d-flex align-items-center">
                <mat-icon color="primary">dvr</mat-icon>
                <div class="p-2">Đơn mua</div>
            </div>
        </a>
    </li>
    <li><a>
            <div class="d-flex align-items-center">
                <mat-icon color="warn">notifications</mat-icon>
                <div class="p-2">Thông báo</div>
            </div>
        </a>
    </li>

</ul>
