<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Image Change</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<app-header></app-header>
<body>

    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left border">
                    <div class = "img-container">
                        <img class="main-image" src = "{{currentImage}}" alt = "watch">
                    </div>
                    <div class = "hover-container border">
                        <div *ngFor="let image of images" (click)="changeImage(image.url)"><img  src = {{image.url}}></div>
                       
                    </div>
                </div>
                <div class = "product-div-right border">
                    <span class = "product-name">{{dataProduct?.name}}</span>
                    <span class = "product-price">{{dataProduct?.price | currency :"VND" }}</span>
                    <div class = "product-rating">
                        <span>Số lượng còn lại </span>
                        
                        <span>({{dataProduct?.stock}})</span>
                    </div>
                    <p class = "product-description">{{dataProduct?.description}}</p>
                    <div class = "btn-groups">
                        <button (click)="addCart()" type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>Thêm vào giỏ</button>
                     </div>
                </div>
            </div>
        </div>
    </div>
 
    
</body>

</html>