<h2 mat-dialog-title>Tin nhắn Admin Double-L</h2>
<mat-dialog-content id="mat-dialog" class="mat-typography">
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
  <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!------ Include the above in your HEAD tag ---------->


  <html>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet">


  <body>
    <div class="container" id="container">

      <div class="messaging">
        <div class="inbox_msg">

          <div class="mesgs">
      
            <div class="msg_history" id="parentDiv"  >
            <div *ngFor="let mes of listMessage  ; let i=index">
              <div *ngIf="checkMes(mes)" class="incoming_msg">
                <div class="incoming_msg_img"> <img src="../../../assets/images/logoshop.png" alt="sunil"> </div>
                <div class="received_msg">
                  <div  class="received_withd_msg">
                    <p>{{mes.split(",")[2]}}</p>
                    <span    class="time_date"> {{mes.split(",")[1] | date : 'hh:mm a'}}    |    {{formatDate(mes.split(",")[1])}}</span>
                     
                  </div>
                </div>
              </div>
              

          
             
              <div *ngIf="!checkMes(mes)" class="outgoing_msg">
                <div  class="sent_msg">
                  <p>{{mes.split(",")[2]}}</p>
                  <span class="time_date"> {{mes.split(",")[1] | date : 'hh:mm a'}}    |    {{formatDate(mes.split(",")[1])}}</span>
                </div>
              </div>
            </div>
             
            
            </div>

            <div class="type_msg">
              <div class="input_msg_write">
                <input [(ngModel)]="message" type="text" class="write_msg" placeholder="Type a message" />
                <button (click)="sendMessage()" class="msg_send_btn" [disabled]="message.length==0" type="button"><i class="fa fa-paper-plane-o"
                    aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </body>

  </html>
</mat-dialog-content>