<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
    <script
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg">
        
    </script>

   
</head>
<h2 mat-dialog-title>Thêm địa chỉ</h2>
<mat-dialog-content class="mat-typography">
    <form  >
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Địa chỉ</mat-label>
        <input [(ngModel)]="address" [ngModelOptions]="{standalone: true}" id="search_input"    matInput placeholder="Nhập địa chỉ">
        <mat-icon matSuffix>edit</mat-icon>
        <!-- <mat-hint *ngIf="( formGroup.get('name').invalid && formGroup.get('name').touched )|| (formGroup.get('name').invalid && isSubmit) " class="text-danger">Chọn tên  sản phẩm</mat-hint> -->
      </mat-form-field>
    </p>
    </form>
    <input style="visibility: hidden;" id="lat">
    <input style="visibility: hidden;" id="lng">
                
               
      

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Đóng</button>
  <button    mat-raised-button (click)=" addAddress()"   color="primary" cdkFocusInitial>Thêm</button>
 </mat-dialog-actions>
 

</html>