
<h2 mat-dialog-title>Địa chỉ của tôi

</h2>

<mat-dialog-content class="mat-typography p-2">

   
 
      <p *ngFor="let item of address; let i=index">
        <mat-card >
           
           
            <div class="d-flex">
                <div     style="margin-top: 20px;">
                    <section class="example-section">
                        <mat-checkbox (change)="showOptions($event)" id="{{i}}" [disabled]="item.isChecked"  [checked]="item.isChecked"   color="primary" class="example-margin"></mat-checkbox>
                    </section>
                </div>
                <div  style="margin-left: 40px;">
                    <div class="d-flex flex-column">
                        <div class=""><b>{{item.user.fullname}} | ({{item.user.phonenumber}})</b></div>
                        <div class="">
                            <div class="d-flex flex-row">
                                <div class="">{{item.address}}</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="ml-auto p-2">
                 <button (click)="updateAddress(item)" mat-button color="primary">Cập nhật</button>

                </div>
              </div>
        </mat-card>
        <br>
      </p>
     
     
      
      
</mat-dialog-content>
  
<mat-dialog-actions align="end">

  <button mat-raised-button  mat-dialog-close color="warn">Hủy</button>
  <button mat-raised-button  (click)="addAddress()" color="primary" cdkFocusInitial>Thêm địa chỉ</button>
  <button mat-raised-button (click)="changeAddress()"  color="primary" cdkFocusInitial>Thay đổi</button>
</mat-dialog-actions>
