.container{
    margin-top: 100px;
}
img{
    width: 100px;
    height: 100px;
}
input{
    width: 40px;
    height: 26px;
    margin-left: 10px;
    text-align: center;
    margin-right: 10px;
}
.btn-increase{
    height: 26px;
}
.btn-decrease{
    height: 26px;
}
.btn-buy{
    margin-left: 30%;
}
.buy-all{
    position: fixed;
    bottom: 0;
    width: 90%;
 
    box-sizing: border-box;
    /* background: #DD3543; */
    height: 80px;

 
    /* box-sizing: border-box; */
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #f33f3f !important;
  }
  mat-cart{
    height: 100px;
  }
  body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #f33f3f !important;
  }
 