<app-header active="ShoppingCart"></app-header>

<div class="container">
    <app-loading *ngIf="isLoading" text="Đang tải dữ liệu..."></app-loading>
    <div *ngIf="!isLoading" class=" px-3 my-5 clearfix">
        <div class="card">
            <div class="card-header">
                <h5>Giỏ hàng</h5>
            </div>
            <div *ngIf="allProduct?.length>0" class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0 border ">
                        <thead>
                            <tr>
                                <th>  <section style="margin-top: 15px;" class="example-section">
                                    <mat-checkbox (input)="checkAll($event)" [(ngModel)]="checkedAll"class="example-margin"></mat-checkbox>

                                </section></th>
                                <th class="text-center py-3 px-4" style="min-width: 300px;">Sản phẩm &amp; Mô tả
                                </th>
                                <th class="text-center py-3 px-4" style="width: 100px;">Giá</th>
                                <th class="text-center py-3 px-4" style="width: 100px;">Size</th>
                                <th class="text-center py-3 px-4" style="width: 160px;">Số lượng</th>
                                <th class="text-center py-3 px-4" style="width: 150px;">Tổng tiền</th>
                                <th class="text-center align-middle py-3 px-0" style="width: 150px;">
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of allProduct ; let i=index">


                                <td>
                                    <section style="margin-top: 15px;" class="example-section">
                                        <mat-checkbox [(ngModel)]="item.checked" (input)="checkOne($event)" class="example-margin"></mat-checkbox>

                                    </section>
                                </td>

                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img src="{{item.product.image}}" class="d-block ui-w-40 ui-bordered mr-4"
                                            alt="">
                                        <div class="media-body">
                                            <a class="d-block text-dark">{{item.product.name}}</a>
                                             <small>

                                                <span class="text-muted">Giảm giá: </span> {{item.product.discount}}%
                                                &nbsp;
                                                
                                            </small>
                                        </div>
                                    </div>
                                </td>
                           
                                <td class="text-center font-weight-semibold align-middle p-4">
                                    <div class="d-flex justify-content-center">
                                        <div *ngIf="item.product.discount>0" class="p-2">
                                            <p style="text-decoration: line-through;">
                                                {{item.product.price | currency :"VND"}}
                                            </p>
                                        </div>
                                        <div class="p-2 text-center font-weight-semibold align-middle">
                                            <p>
                                                {{item.product.price- item.product.price*item.product.discount/100 |
                                                currency
                                                :"VND" }}
                                            </p>
                                        </div>

                                    </div>


                                </td>
                                <td class="text-center font-weight-semibold align-middle p-4">
                                    <div class="d-flex justify-content-center">
                                        <div>{{item.sizeProduct}}</div>
                                        <button *ngIf="item.product.isSize" (click)="getProductDetail(item.productId)" class="changeSize" [matMenuTriggerFor]="menu"></button>
                                         <mat-menu #menu="matMenu">
                                          <button value="S" (click)="changeSizeProduct(item, $event)" *ngIf="productDetail?.s>0" mat-menu-item >Size S</button>
                                          <button value="M" (click)="changeSizeProduct(item , $event)"  *ngIf="productDetail?.m>0" mat-menu-item>Size M</button>
                                          <button  value="L" (click)="changeSizeProduct(item , $event)" *ngIf="productDetail?.l>0" mat-menu-item>Size L</button>
                                          <button  value="XL" (click)="changeSizeProduct(item , $event)" *ngIf="productDetail?.xl>0" mat-menu-item>Size XL</button>
                                          <button   value="XXL" (click)="changeSizeProduct(item , $event)" *ngIf="productDetail?.xxl>0" mat-menu-item>Size XXL</button>
                                        </mat-menu>

                                    </div>


                                </td>
                                <td class="align-middle p-4">
                                    <div class="d-flex align-items-center quantity">
                                         
                                        <div class="d-flex justify-content-center">
                                            <div  >
                                                <div style="margin-right: 20px;"
                                                    class="input-quantity shopee-input-quantity">
                                                    <button (click)="decreaseProduct(item)" class="btn-quantity">
                                                        <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0"
                                                            y="0" class="icon-svg">
                                                            <polygon
                                                                points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5">
                                                            </polygon>
                                                        </svg>
                                                    </button>
                                                    <input class="btn-quantity inp-quantity" type="text"
                                                        role="spinbutton" aria-valuenow="2" value="{{item.quantity}}" readonly>
                                                    <button (click)="increaseProduct(item)" class="btn-quantity"><svg enable-background="new 0 0 10 10"
                                                            viewBox="0 0 10 10" x="0" y="0"
                                                            class="icon-svg icon-plus-sign">
                                                            <polygon
                                                                points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5">
                                                            </polygon>
                                                        </svg>
                                                    </button>
                                                    
                                                    
                                                </div>
                                                <div >
                                                    <div    style="margin-left: 20px;">
                                                        <div style="width:160px" *ngIf="item.sizeProduct=='S'"> Còn: {{allproductDetail[i]?.s}} SP (size {{item.sizeProduct}}) </div>
                                                        <div style="width:160px" *ngIf="item.sizeProduct=='M'"> Còn: {{allproductDetail[i]?.m}} SP (size {{item.sizeProduct}})  </div>
                                                        <div style="width:160px" *ngIf="item.sizeProduct=='L'">Còn: {{allproductDetail[i]?.l}} SP (size {{item.sizeProduct}})  </div>
                                                        <div style="width:160px" *ngIf="item.sizeProduct=='XL'"> Còn: {{allproductDetail[i]?.xl}} SP (size {{item.sizeProduct}})  </div>
                                                        <div style="width:160px" *ngIf="item.sizeProduct=='XXL'"> Còn: {{allproductDetail[i]?.xxl}} SP (size {{item.sizeProduct}})  </div>
                                                        <div style="width:160px" *ngIf="item.sizeProduct=='Không'"> Còn: {{item.product.stock}} SP  </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    
                                </td>
                                <td class="text-center font-weight-semibold align-middle p-4" style="color: red;">
                                    {{(item.product.price-
                                    item.product.price*item.product.discount/100)*item.quantity | currency
                                    :"VND" }}</td>
                                <td class="text-center align-middle px-0">
                                    <div class="d-flex flex-row">
                                        <div class="p-2">
                                            <button mat-icon-button color="primary"
                                                aria-label="Example icon button with a menu icon">
                                                <mat-icon (click)="buy(item.id)">shopping_cart</mat-icon>
                                            </button>
                                             
                                        </div>
                                        <div class="p-2">
                                            <button mat-icon-button color="warn"
                                                aria-label="Example icon button with a menu icon">
                                                <mat-icon (click)="deleteCart(item.id)">delete</mat-icon>
                                            </button>
                                           
                                        </div>

                                    </div>



                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>

                <br>
                <div class="float-right">
                    <button (click)="continueBuy()" mat-raised-button>Tiếp tục mua</button>
                    <button style="margin-left: 20px;" (click)="buyChecked()" mat-raised-button
                        color="primary">Mua</button>
                    <button style="margin-left: 20px;" (click)="deleteAllCart()" mat-raised-button color="warn">Xóa tất
                        cả sản
                        phẩm</button>

                </div>

            </div>
        </div>
    </div>

</div>
<div class="text-center" *ngIf="allProduct?.length==0">Không có sản phẩm trong giỏ hàng</div>
<app-fab-call-chat *ngIf="isLogin"></app-fab-call-chat>