<app-header active="SignUp"></app-header>
 
 
  <div>
    <div class="parent clearfix">
    <div class="bg-illustration">
      <div class="d-flex justify-content-center"><img class="rounded-circle" src="../../../assets/images/logoshop.png" alt="logo"></div>
      <!-- <img class="rounded-circle" src="../../../assets/images/logoshop.png" alt="logo"> -->
  
      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
  
    </div>
        
    <div class="login">
      <div class="container">
        <h1>Đăng kí tài khoản</h1>
    
        <div class="login-form">
          <form action="">
            <input type="text" placeholder="Tên tài khoản">
            <input type="text" placeholder="Họ tên đầy đủ">
            <input type="number" placeholder="Số điện thoại">
            <input type="password" placeholder="Mật khẩu">
            <input type="password" placeholder="Nhập lại mật khẩu">
            <button type="submit">Đăng kí</button>

          </form>
        </div>
    
      </div>
      </div>
     
  </div>
  </div>
<app-footer></app-footer>
