<app-header></app-header>
 
<div class="parent clearfix">
    <div class="bg-illustration">
      
     
        
        <div class="p-2 text-center">
            <div class="d-flex flex-column">
                <div class="p-2" >
                  <img class="rounded-circle"   src="../../../assets/images/logoshop.png" alt="logo">
                </div>
                <div class="p-2" style="color: #f33f3f;"><h3>Double-L <em >Store</em></h3> </div>

               
              </div>
      
       
      </div>
     

    </div>
 
    
    <div class="login">
      <div class="container">
        <h1>Đăng kí tài khoản</h1>
    
        <div class="login-form">
          <form action="">
            <input type="text" placeholder="Tên tài khoản">
            <input type="text" placeholder="Họ tên đầy đủ">
            <input type="number" placeholder="Số điện thoại">
            <input type="password" placeholder="Mật khẩu">
            <input type="password" placeholder="Nhập lại mật khẩu">
            <button type="submit">Đăng kí</button>

          </form>
        </div>
    
      </div>
      </div>
  </div>
<app-footer></app-footer>
