<app-header active="SignIn"></app-header>
<div>
  <div class="parent clearfix">
  <div   class="bg-illustration">
    <div class="d-flex justify-content-center"><img class="rounded-circle" src="../../../assets/images/logoshop.png" alt="logo"></div>
 

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  
  <div class="login">
    <div class="container">
      <h1>Quên mật khẩu</h1>
  
      <div class="login-form">
        <form [formGroup]="formGroup"  action="">
          <input formControlName="email" type="email" placeholder="E-mail">
        

          

          <button (click)="sendEmail()" type="submit">Xác nhận </button>

        </form>
      </div>
  
    </div>
    </div>
</div>
</div>

  
 
